.header{
    background-color: var(--dark-bg-color);
    color: var(--color-text-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    min-height: 75px;
    flex-wrap: wrap;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);

    position: sticky;
    top: 0;
    z-index: 1;

    font-size: clamp(8px, 0.9vw, 30px);
}

.header-logo{
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    font-size: 29px;
    color: var(--color-text);
}
.header-menu-list{
    display: flex;
    column-gap: 30px;
    align-items: center;



}


.header-menu-link{
    display: inline-flex;
    height: 75px;
    align-items: center;

}

.active{
    text-decoration: underline;
    text-underline-offset: 6px;
}


.header-actions{
    display: flex;
    column-gap: 30px;
    align-items: center;
}



.header-actions-slider{
    width: 60px;
    height: 34px;
    position: relative;
    display: block;
    background:  linear-gradient(180deg,#2c4951,#132e35);
    /*background-color:var(--alternative-bg-color);*/
    border-radius: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.header-actions-slider::after {
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ABAEB5FF;
    border-radius: 16px;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.header-actions-input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}
.header-actions-input:checked + .header-actions-slider{
    background: #ffffff;
}
.header-actions-input:checked + .header-actions-slider::after {
    left: calc(100% - 30px);
    background: linear-gradient(180deg,#ffcc89,#d8860b);
}
.header-actions-slider:active::after{
    width: 30px;
}



.mini-game{
    position: relative;
    cursor: pointer;
}

.mini-game-list{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    width: 95px;
    height: 100px;
    background: var(--bg-color);
    border: 1px solid var(--color-text-gray);
    border-radius: 7px;
    /*box-shadow: 0 15px 3px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 10px 8px 5px rgba(0, 0, 0, 0.3);

    font-size: 14px;
    text-align: center;
    padding-block: 10px;
    display: flex;
    flex-direction: column;
}
.disableMenu{
    display: none;
}





@media (max-width: 800px) {
    .header{
        flex-wrap: wrap;
    }
    .header-menu{
        order:1;
        flex-basis: 100%;
    }
    .header-menu-list{
        justify-content: center;
    }
}
@media (max-width: 480px){
    .header-menu-link{
        height: 50px;
    }
    .header-menu-list{
        column-gap: 20px;
    }
}

@media (max-width: 400px){
    .mini-game-list {
        width: 70px;
        height: 80px;
        font-size: 10px;
    }
}

@media (max-width: 380px){
    .header-menu-list{
        column-gap: 10px;
    }
}
